{
 :deps {
   org.clojure/clojure {:mvn/version "1.10.0"}
   hiccup {:mvn/version "1.0.5"}
   zprint {:mvn/version "0.4.13"}
 }
 :aliases {
   :build {:main-opts ["-e" "(require,'[hiccup.page,:refer,[html5]]),(->>,\"page.clj\",slurp,read-string,eval,html5,(spit,\"docs/index.html\"))"]}
 }
}
